<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/assets/css/reset.css" />
	<link rel="stylesheet" href="/static/assets/css/flex.css" />
	<!-- <link rel="stylesheet" href="/node_modules/cutestrap/dist/css/cutestrap.css" /> -->
	<link rel="stylesheet" href="/static/assets/css/style.css" />
	<script src="/static/dist/bundle.js" defer></script>
	<!-- <script src="/static/assets/js/scripts.js" defer></script>
	<script src="/static/assets/js/example-template.js" defer></script> -->
	<title>Tamil Flashcards</title>
</head>
