<nav aria-label="Main Navigation">
	<div class="navbar flex justify-content-sb align-items-center">
		<ul class="navlist flex justify-content-sb align-items-center">
			<li class="navlist__item"><a href="/" class="navlist__item__link">Home</a></li>
			<li class="navlist__item">
				<a href="/create" class="navlist__item__link create-link">Create</a>
			</li>
			<li class="navlist__item"><a href="/login" class="navlist__item__link login-link">Login</a></li>
		</ul>

		<div>
			<button class="theme-button icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
					<circle
						cx="256"
						cy="256"
						r="208"
						style="fill:none;stroke-linejoin:round;stroke-width:32px"
					/>
					<path d="M256,464C141.12,464,48,370.88,48,256S141.12,48,256,48Z" />
				</svg>
			</button>
		</div>
	</div>
</nav>
