.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.row-reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: column;
}

.column-reverse {
	flex-direction: column-reverse;
}

.content-center {
	place-content: center;
}

.items-center {
	place-items: center;
}

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-sb {
	justify-content: space-between;
}
.justify-content-se {
	justify-content: space-evenly;
}
.justify-content-sa {
	justify-content: space-around;
}
.align-items-sb {
	align-items: space-between;
}
.align-items-se {
	align-items: space-evenly;
}
.align-items-sa {
	align-items: space-around;
}
.align-content-sb {
	align-content: space-between;
}
.align-content-se {
	align-content: space-evenly;
}
.align-content-sa {
	align-items: space-around;
}
