:root {
	--font-color: #222222;
	--bg: #f9f9f9;
	--nav-link: #222222;
	--nav-bg: rgba(0, 0, 0, 0.05);
	--accent: rgb(255, 41, 51);
	--example-bg: #f1f1f1;
	--nav-height: calc(var(--rhythm) * 3.5);
	--rhythm: 1rem;
	--rhythm-half: calc(var(--rhythm) / 2);
	--rhythm-quarter: calc(var(--rhythm) / 2);
	--rhythm-double: calc(var(--rhythm) * 2);
}

[data-theme='dark'] {
	--font-color: white;
	--bg: #333;
	--nav-link: snow;
	--nav-bg: rgba(255, 255, 255, 0.05);
	--accent: coral;
	--example-bg: rgba(255, 255, 255, 0.05);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-variant-ligatures: common-ligatures contextual;
	-moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	font-size: 18px;
	color: var(--font-color);
	background-color: var(--bg);
	letter-spacing: 1px;
	width: 100vw;
	transition: opacity ease 1s;
	opacity: 0;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.ta-center {
	text-align: center;
}

.ta-left {
	text-align: left;
}
.ta-right {
	text-align: right;
}

.navbar {
	height: var(--nav-height);
	padding: 0 2rem;
	background-color: var(--nav-bg);
	border-bottom: solid 0.5px var(--font-color);
}

.navlist__item:not(:first-of-type) {
	margin-left: 2rem;
}

.navlist__item__link {
	color: var(--nav-link);
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1rem;
	display: flex;
}

.navlist__item__link:hover {
	color: var(--accent);
}

.switch {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: solid 2px var(--font-color);
}

.switch:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: var(--font-color);
}

.container {
	width: 100vw;
	height: calc(100vh - var(--rhythm-double) - var(--rhythm-half) - var(--nav-height));
	margin-top: calc(var(--nav-height) + var(--rhythm-half));
	padding: var(--rhythm-double);
}

.details {
	outline: none;
	color: var(--font-color);
}

.details__definition {
	border-left: solid 2px var(--font-color);
	padding-left: var(--rhythm);
}

.flashcard {
	position: relative;
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

/* .flashcard * {
	width: 100%;
} */

.flashcard__body {
	margin-top: calc(var(--rhythm) * 3.5);
	width: 100%;
	height: 100%;
	transition-duration: 200ms;
}

h1 {
	font-size: 18vmin;
	font-weight: bold;
}

.details {
	outline: none;
	width: fit-content;
	position: relative;
	transition: transform ease 200ms;
	z-index: 10;
	width: 100%;
}

details > summary::-webkit-details-marker {
	display: none;
}

summary {
	font-size: var(--rhythm-double);
	font-weight: 400;
	outline: none;
	display: flex;
	width: fit-content;
	list-style: none;
	position: relative;
	color: var(--font-color);
}

summary::before {
	--side: 10px;
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	right: -2.5rem;
	width: 0;
	height: 0;
	border-bottom: solid var(--side) transparent;
	border-top: solid var(--side) var(--font-color);
	border-left: solid var(--side) transparent;
	border-right: solid var(--side) transparent;
	transition: all 0.2s;
	transform-origin: 50% 25%;
}

details[open] summary:before {
	transform: rotate(180deg);
}

.chip {
	background: var(--font-color);
	color: var(--bg);
	padding: 0 0.4rem;
	border-radius: 5px;
	width: fit-content;
	font-weight: 400;
	font-size: var(--rhythm);
	appearance: none;
}

.icon {
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	fill: var(--font-color);
	stroke: var(--font-color);
	outline: none;
	padding: 0;
	margin-left: 1rem;
}

svg {
	width: 100%;
	height: 100%;
}

.theme-button__circle {
	stroke: var(--font-color);
}

.examples {
	font-size: 18px;
	display: grid;
	margin-top: var(--rhythm);
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: var(--rhythm);
	align-items: flex-start;
	width: 100%;
}

.buttons {
	position: absolute;
	margin-top: calc(var(--rhythm) * 4);
	width: 95vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button {
	background: none;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	min-height: var(--rhythm-double);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: lowercase;
	padding: 0 var(--rhythm);
}

.button--bg-primary {
	background-color: var(--font-color);
	color: var(--bg);
}
.button--bg-danger {
	background-color: tomato;
	color: var(--bg);
}

.button__icon {
	opacity: 0.75;
}

.button__icon {
	stroke: var(--font-color);
	max-width: 5rem;
	width: 100%;
}

.button__icon:active {
	opacity: 1;
}

.form-container {
	max-width: 800px;
	margin: 0 auto;
}

label {
	position: relative;
	margin-bottom: 1em;
	flex: 1;
}

select:not(:first-of-type) {
	padding: 1em;
	margin-left: 2rem;
	border: none;
}

select {
	appearance: none;
	text-transform: capitalize;
}

.create-link {
	display: none;
}

input[type='text'],
input[type='password'],
select {
	border-radius: 5px;
	outline: none;
	border: solid 1px var(--font-color);
	color: var(--font-color);
	transition: all 200ms ease;
	padding: 1.25rem 0.25rem 0.25rem 0.5rem;
	background: rgba(255, 255, 255, 0.05);
	width: 100%;
}

.label {
	position: absolute;
	left: 0.5rem;
	top: 0.25rem;
	font-size: 0.75rem;
	opacity: 0.75;
	color: var(--font-color);
	text-transform: capitalize;
}

.form-example {
	padding: var(--rhythm);
	background: var(--example-bg);
}

/* Margins */

.mb-2 {
	margin-bottom: calc(2 * var(--rhythm));
}
.mt-2 {
	margin-top: calc(2 * var(--rhythm));
}
.ml-2 {
	margin-left: calc(2 * var(--rhythm));
}
.mr-2 {
	margin-right: calc(2 * var(--rhythm));
}

.mb-1 {
	margin-bottom: calc(1 * var(--rhythm));
}
.mt-1 {
	margin-top: calc(1 * var(--rhythm));
}
.ml-1 {
	margin-left: calc(1 * var(--rhythm));
}
.mr-1 {
	margin-right: calc(1 * var(--rhythm));
}
.mb-3 {
	margin-bottom: calc(3 * var(--rhythm));
}
.mt-3 {
	margin-top: calc(3 * var(--rhythm));
}
.ml-3 {
	margin-left: calc(3 * var(--rhythm));
}
.mr-3 {
	margin-right: calc(3 * var(--rhythm));
}
.mb-4 {
	margin-bottom: calc(4 * var(--rhythm));
}
.mt-4 {
	margin-top: calc(4 * var(--rhythm));
}
.ml-4 {
	margin-left: calc(4 * var(--rhythm));
}
.mr-4 {
	margin-right: calc(4 * var(--rhythm));
}

@media (min-width: 300px) {
	.flashcard {
		width: 100%;
	}
	html {
		font-size: 12px;
	}
	.buttons {
		display: none;
	}
}

@media (min-width: 900px) {
	.flashcard {
		width: 75%;
	}
	html {
		font-size: 16px;
	}
	.buttons {
		display: flex;
	}
}

.hide {
	opacity: 0;
	display: none;
}
