<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<template id="example">
			<label>
				example
				<input name="example" type="text" />
			</label>
			<label>
				Translation
				<input type="text" name="translation" />
			</label>
			<select name="tense">
				<option>past</option>
				<option>present</option>
				<option>future</option>
			</select>
			<select name="tone">
				<option value="neutral">neutral</option>
				<option value="neutral">neutral</option>
			</select>
		</template>
		<%- include('../partials/nav') %>
		<div class="container flex column align-items-center justify-content-center">
			<h1>Create</h1>
			<form id="form" class="column">
				<label class="flex column">
					Word / Sentence
					<input type="text" id="word" />
				</label>
				<label class="flex column">
					Tamil Text
					<input type="text" id="tamil-text" />
				</label>
				<label class="flex column">
					Definition
					<input type="text" id="definition" />
				</label>
				<label class="flex column">
					Tags
					<input type="text" id="tags" />
				</label>
				<div class="flex">
					<label class="flex column">
						Difficulty
						<select id="difficulty">
							<option value="beginner">Beginner</option>
							<option value="intermediate">Intermediate</option>
							<option value="advanced">Advanced</option>
						</select>
					</label>
					<label class="flex column">
						Category
						<select id="category">
							<option value="number">number</option>
							<option value="sentence">sentence</option>
							<option value="word">word</option>
							<option value="food">food</option>
							<option value="idioms">idioms</option>
						</select>
					</label>
				</div>
				<div id="examples"></div>
			</form>
			<button id="add"></button id="add">
		</div>
		<script src="/static/assets/js/form.js"></script>
	</body>
</html>
