<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include('../templates/example') %> <%- include('../partials/nav') %>
		<div class="container flex column justify-content-center">
			<div class="flashcard flex column">
				<div id="flashcard-header" class="column align-self-center ml-2 mr-2">
					<h1 class="flashcard__title">Onne</h1>
					<h4 class="flashcard__difficulty center">easy</h4>
				</div>
				<div class="flashcard__body column hide">
					<div class="details">
						<h2 class="details__title">definition</h2>
						<p class="details__definition">The number one</p>
					</div>
					<div class="detail mt-3">
						<h2 class="details__title">examples</h2>
						<div class="examples">
							<flashcard-example>
								<p slot="title">"enake orra dosa kodinga"</p>
								<p slot="tone">respectful</p>
								<p slot="tense">present tense</p>
							</flashcard-example>
							<flashcard-example>
								<p slot="title">"enake orra dosa kode"</p>
								<p slot="tone">informal</p>
								<p slot="tense">present tense</p>
							</flashcard-example>
						</div>
					</div>
				</div>
			</div>
			<div class="buttons flex justify-content-sb">
				<button class="button prev-button">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="512"
						height="512"
						viewBox="0 0 512 512"
						class="button__icon"
					>
						<path
							d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z"
							style="fill:none;stroke-miterlimit:10;stroke-width:32px"
						/>
						<polyline
							points="296 352 200 256 296 160"
							style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
						/>
					</svg>
				</button>
				<button class="button next-button">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="512"
						height="512"
						viewBox="0 0 512 512"
						class="button__icon"
					>
						<path
							d="M64,256c0,106,86,192,192,192s192-86,192-192S362,64,256,64,64,150,64,256Z"
							style="fill:none;stroke-miterlimit:10;stroke-width:32px"
						/>
						<polyline
							points="216 352 312 256 216 160"
							style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"
						/>
					</svg>
				</button>
			</div>
		</div>
	</body>
</html>
