<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include('../templates/example') %> <%- include('../partials/nav') %>
		<div class="container flex align-items-center justify-content-center">
			<form id="login">
				<label class="flex column">
					<span class="label">Password</span>
					<input id="password" type="password" />
				</label>
				<input class="button button--bg-primary" type="submit" value="submit" />
			</form>
		</div>
	</body>
</html>
